@* Ceci est un commentaire *@

@{
    // bloc de code C#
    string company = "ARFP";

}


<h2>Titre de la page Home/About</h2>

<p>Bienvenue chez  @company.</p>

<p>@ViewBag.WelcomeMessage</p>

<p>@ViewData["OtherMessage"]</p>

<p>Sité géré par @ViewBag.Author.</p>
