* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

h1 {
    color: yellow;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: lightgreen;
}

label {
    display: inline-block;
    width: 150px;
}
