<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="~/js/main.js" defer></script>
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
        <nav>
            <ul>
                <li><a href="/">Home/Index</a></li>
                <li><a href="/home/about">Home/About</a></li>
                <li><a href="/cars">Cars/Index</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @*
        Une page de disposition doit obligatoirement appeler la fonction RenderBody().
        RenderBody() affiche le contenu de la vue associée à la requête en cours
        *@

        @RenderBody()
    </main>
    <footer>
        <!-- Commentaire HTML -->
    </footer>
</body>
</html>
